@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Consolas, monaco, monospace;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: rgb(0,0,0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: 16px;
    @media (max-width:640px) {
      font-size: 12px;
    }
  }
}

@font-face {
  font-family: 'Terminal';
  src: url('/fonts/DejaVuSans.ttf') format('truetype');
}
